<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <h1>Bienvenidos</h1>
    <li><a th:href="${'/logout'}">Logout</a></li>
</body>
</html>