<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    body {
        font-family: "Arial", Arial, serif;

        background-color: crimson;
        background-image: url("http://www.hdfondos.org/file/5692/728x410/16:9/food-and-spoons_896347455.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .topnav {
        overflow: hidden;
        background-color:#000000;
    }

    .topnav a {
        float: right;
        display: block;
        color: #FFD700;
        text-align: center;
        padding: 1% 6%;
        font-size: 150%;

    }

    .topnav a:hover {
        background-color: #FFD700;
        color: black;
    }


    #login-dp{
        min-width: 350px;
        color:black;
        padding: 14px 14px 0;
        overflow:hidden;
    //  background-color:rgba(255,255,255,.8);
        background-color: orangered;
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
    .btn:hover
    {
        background-color: chocolate;
        color:maroon;
    }

</style>

<body>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/home">Pedidos Cotoca</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/products">Productos</a></li>
                <li><a href="/admin/restaurants"><Afiliados>Restaurantes</Afiliados></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a><i class="glyphicon glyphicon-lock"></i><td th:text="${nameA}">Nombre </td></a></li>
                <li><a th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <font size="6" color="black" >
    <form class="form-horizontal" th:object="${product}" th:action="@{/admin/product}" method="post">
            <input type="hidden" th:field="*{id}"/>
        <br/>

        <div class="form-group">
            <label class="col-sm-7 control-label">Restaurant:</label>
            <div class="col-sm-8" style="width: 150px; length: 100px;">
                <select th:field="*{restaurant} ">
                    <option th:each="restaurant : ${restaurants}" th:value="${restaurant.id}" th:text="${restaurant.name} ">Nombre restaurante</option>
                </select><br/><br/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-7 control-label">Nombre:</label>
            <div class="col-sm-8" style="width: 150px; length: 100px;">
                <input style="color: red;" type="text" class="form-control" th:field="*{name}"/>
            </div>
        </div>
        <div style="size:3px; color: #C70039">
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </div>
        <div class="form-group">
            <label class="col-sm-7 control-label">Precio:</label>
            <div class="col-sm-8" style="width: 150px; length: 100px;">
                <input style="color: red;" type="text" class="form-control" th:field="*{amount}"/>
                <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Name Error</td>
            </div>
        </div>
        <center>
            <div class="row" style="width: 150px; length: 100px; text-align: center;">
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>
        </center>
        </form>
    </font>
</body>
</html>
